<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace Administratif</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-b from-clair to-blanc min-h-screen">
    <!-- Main Content -->
    <main class="max-w-7xl mx-auto px-4 lg:px-8">
        <!-- Intro Section -->
        <section class="flex flex-col items-center justify-center min-h-screen mb-10 -py-3 px-4">
            <h1 class="text-4xl font-bold text-fonce mb-20 text-center">
                Bienvenue dans votre espace administratif !
            </h1>

            <!-- Section texte et image en colonne -->
            <div class="flex flex-col lg:flex-row items-center gap-12">
                <div class="text-center lg:text-left max-w-xl">
                    <p class="text-fonce mb-10">
                        La gestion des informations médicales est une pierre angulaire d'un système de santé moderne et efficace.
                    </p>
                    <p class="text-fonce">
                        Cette page vous permet de créer un Dossier Patient Informatisé (DPI), une solution sécurisée pour centraliser
                        les informations essentielles : identité, coordonnées, et données administratives.
                    </p>
                </div>

                <div class="flex justify-center items-center w-full lg:w-auto mt-6 lg:mt-0 lg:ml-12">
                    <div class="w-60 h-60 lg:w-80 lg:h-80">
                        <img src="assets/images/admin.gif" alt="Administratif" class="w-full h-full object-contain rounded-[40px]">
                    </div>
                </div>
            </div>
        </section>

        <!-- Form Section -->
        <section class="shadow-md rounded-[40px] px-40 pb-8 mb-20">
            <h2 class="text-4xl font-bold text-center text-fonce mb-6">Créer votre Dossier !</h2>
            <form (ngSubmit)="onSubmit()" class="space-y-6">
                <!-- Ligne 1 -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <label for="nom" class="block text-fonce mb-2 font-medium">Nom</label>
                        <input [(ngModel)]="patientData.nom" name="nom" type="text" id="nom" class="bg-clair w-full p-3 rounded-[40px]">
                    </div>
                    <div>
                        <label for="prenom" class="block text-fonce mb-2 font-medium">Prénom</label>
                        <input [(ngModel)]="patientData.prenom" name="prenom" type="text" id="prenom" class="bg-clair w-full p-3 rounded-[40px]">
                    </div>
                </div>

                <!-- Ligne 2 -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <label for="date-naissance" class="block text-fonce mb-2 font-medium">Date de naissance</label>
                        <input [(ngModel)]="patientData.date_naissance" name="date de naissance" type="date" id="date-naissance" class="bg-clair w-full p-3 rounded-[40px]">
                    </div>
                    <div>
                        <label for="nss" class="block text-fonce mb-2 font-medium">NSS</label>
                        <input [(ngModel)]="patientData.NSS" name="nss" type="text" id="nss" class="bg-clair w-full p-3 rounded-[40px]">
                    </div>
                </div>

                <!-- Ligne 3 -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <label for="adresse" class="block text-fonce mb-2 font-medium">Adresse</label>
                        <input [(ngModel)]="patientData.adress" name="adresse" type="text" id="adresse" class="bg-clair w-full p-3 rounded-[40px]">
                    </div>
                    <div>
                        <label for="telephone" class="block text-fonce mb-2 font-medium">Téléphone</label>
                        <input [(ngModel)]="patientData.tel" name="telephone" type="text" id="telephone" class="bg-clair w-full p-3 rounded-[40px]">
                    </div>
                </div>

                <!-- Ligne 4 -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <label for="mutuelle" class="block text-fonce mb-2 font-medium">Mutuelle</label>
                        <input [(ngModel)]="patientData.mutuelle" name="mutuelle" type="text" id="mutuelle" class="bg-clair w-full p-3 rounded-[40px]">
                    </div>
                    
                    <div>
                        <label for="email" class="block text-fonce mb-2 font-medium">E-Mail</label>
                        <input [(ngModel)]="patientData.email" name="email" type="email" id="email" class="bg-clair w-full p-3 rounded-[40px]">
                    </div>
                </div>

                <!-- Médecins traitants (Sélection multiple) -->
                <div>
                    <label for="medecin" class="block text-fonce mb-2 font-medium">Médecins Traitant(s)</label>
                    <div class="relative">
                        <!-- Liaison bidirectionnelle avec patientData.medecin_traitant -->
                        <input
                            [(ngModel)]="patientData.medecin_traitant"
                            (focus)="showList()"
                            (input)="filterMedecins($event)"
                            name="medecin"
                            type="text"
                            id="medecin"
                            placeholder="Rechercher un médecin"
                            class="bg-clair w-full p-3 rounded-[40px] border border-gray-300 focus:ring focus:ring-fonce"
                        />
                        <ul *ngIf="isListVisible && filteredMedecins.length" class="absolute z-10 bg-white border border-gray-300 rounded-[40px] mt-2 max-h-48 w-full overflow-y-auto">
                            <!-- Liste des médecins -->
                            <li 
                                *ngFor="let medecin of filteredMedecins" 
                                class="px-4 py-2 hover:bg-clair cursor-pointer" 
                                (click)="selectMedecin(medecin)">
                                {{ medecin.username }}
                            </li>
                        </ul>
                    </div>
                    <!-- Affichage des médecins sélectionnés -->
                    <div class="mt-4">
                        <ul class="flex flex-wrap gap-2">
                            <li *ngFor="let medecin of selectedMedecins; let i = index" class="bg-fonce text-white py-1 px-3 rounded-full">
                                {{ medecin.username }}
                                <button (click)="removeMedecin(i)" class="ml-2 text-white">×</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="bg-fonce text-white px-6 py-3 rounded-[40px] font-semibold hover:bg-clair focus:ring focus:ring-fonce">
                        Valider
                    </button>
                </div>
            </form>
        </section>
    </main>
</body>
</html>
