<div class="w-full max-w-5xl rounded-[40px] shadow-md p-8 mx-6 sm:ml-28 mt-6">
  <h1 class="text-4xl font-bold text-fonce mb-8 text-center">Historique de vos consultations médicales</h1>

  <!-- Vérifier si l'historique est vide -->
  <div *ngIf="historiques.length === 0" class="text-center text-gray-500 font-semibold">
    Aucun historique de consultations trouvé.
  </div>

  <!-- Tableau des consultations -->
  <div *ngIf="historiques.length > 0" class="overflow-hidden rounded-[40px] border border-fonce shadow-lg">
    <table class="table-auto w-full text-left">
      <thead class="bg-fonce text-white">
        <tr>
          <th class="py-4 px-6 rounded-tl-[40px]">Médecin</th>
          <th class="py-4 px-6">Établissement</th>
          <th class="py-4 px-6">Date</th>
          <th class="py-4 px-6">Heure</th>
          <!-- <th class="py-4 px-6 rounded-tr-[40px]">Détails</th> -->
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of historiques"
          (click)="viewDetails(item.id)"
          class="group bg-clair hover:bg-white transition-all duration-200 cursor-pointer"
        >
          <td class="py-4 px-6">{{ item.medecin }}</td>
          <td class="py-4 px-6">{{ item.etablissement }}</td>
          <td class="py-4 px-6">{{ item.date | date: 'shortDate' }}</td>
          <td class="py-4 px-6">{{ item.heure }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  
</div>
