# Byte-compiled / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Django specific
db.sqlite3
*.log

# Media / static files
media/
staticfiles/

# IDE / Editor-specific
.vscode/
.idea/
*.swp
*.swo

# Testing / Coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Others
*.env
*.DS_Store
