<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Soin</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-gradient-to-b from-clair to-white text-gray-800">

  <!-- Header -->
  <header class="py-4 px-8 flex flex-col lg:flex-row items-center justify-between  w-full bg-clair ">
    <!-- Partie gauche : Logo -->
    <div class="flex-shrink-0">
        <img src="assets/images/logo.png" alt="Logo" class="w-10 h-10 rounded-full">
    </div>

    <!-- Partie droite : Navbar -->
    <nav class="flex flex-col lg:flex-row lg:space-x-10 space-y-4 lg:space-y-0 w-full lg:w-auto ml-4 items-center">
        <a href="#" class=" text-2xl text-fonce font-semibold hover:underline">DPI</a>
        <a href="#" class=" text-2xl text-fonce font-semibold hover:underline">Consultations</a>
        <a href="#" class=" text-2xl text-fonce font-semibold hover:underline">Soins</a>
        <a href="#" class="text-2xl text-fonce font-semibold hover:underline">Contact US</a>
    </nav>

    <!-- Bouton LogOut -->
    <div class="flex-shrink-0 text-lg font-bold text-fonce mt-4 lg:mt-0">
        <button type="submit" class="bg-fonce text-white px-6 py-3 rounded-[40px] font-semibold  focus:ring focus:ring-fonce">
            LogOut
        </button>
    </div>
</header>
<section class="flex flex-col items-center justify-center h-[80vh] px-4 -mt-40">
  <h1 class="text-4xl font-bold text-fonce mb-10 text-center">
      Historique des soins
  </h1>

  <div class="flex flex-col lg:flex-row items-center gap-12">
      <div class="w-full max-w-2xl mx-auto text-center text-fonce lg:text-left max-w-xl">
          <p class="text-center">
              Accédez à l'historique détaillé des soins qui vous ont été prodigués au cours de votre hospitalisation. Chaque soin comprend :
          </p>
          <ul class="list-disc pl-6">
            <li> La nature des soins (médicaments administrés, pansements, injections, etc.). </li>
            <li>  Les observations faites par le personnel soignant. </li>
            <li>  Les dates et horaires des interventions. </li>
          </ul>
          <p class="text-center">
             Ces informations sont essentielles pour garantir  un suivi personnalisé de votre état de santé.
          </p>
      </div>
  </div>
</section>
<section>
  <div class="flex justify-center">
    <div class="mt-6 bg-clair rounded-[40px] shadow-sm py-5 space-x-4 w-6">
      <p class="text-center">text</p>>
    </div>
  </div>

</section>

</body></html>
