<body class="bg-gradient-to-b from-[#D3E7E8] to-white min-h-[300vh] m-0">
  

<div class="text-center mt-12 justify-center items-center">
  <h1 class="text-4xl font-bold text-fonce">Les Radios Demandées</h1>
</div>

  <div class="table-container relative mt-12">
    <table class="w-[1163px]  mx-auto mt-20 table-auto border-collapse rounded-[40px] shadow-lg">
      <thead class="bg-[#D3E7E8]">
        <tr>
          <th class="font-bold p-6 text-left text-[#5DA5B9] rounded-tl-[40px]">Médecin</th>
          <th class="font-bold p-6 text-left text-[#5DA5B9]">Patient</th>
          <th class="font-bold p-6 text-left text-[#5DA5B9]">Type</th>
          <th class="font-bold p-6 text-left text-[#5DA5B9] rounded-tr-[40px]">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let radio of radios" (click)="redirectToDetails(radio.date.getTime())" class="cursor-pointer hover:bg-blue-100 transition-all duration-300 ease-in-out transform hover:scale-105">
            <td class="p-6 text-left bg-[#D3E7E8] text-[#5DA5B9]">{{ radio.medecin }}</td>
            <td class="p-6 text-left bg-[#D3E7E8] text-[#5DA5B9]">{{ radio.patient }}</td>
            <td class="p-6 text-left bg-[#D3E7E8] text-[#5DA5B9]">{{ radio.type }}</td>
            <td class="p-6 text-left bg-[#D3E7E8] text-[#5DA5B9]">{{ radio.date | date:'shortDate' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="rounded-bl-[40px]"></td>
          <td></td>
          <td class="rounded-br-[40px]"></td>
        </tr>
      </tfoot>
    </table>
  </div>

</body>
