
  <section class="mt-6 bg-white p-6 rounded-[40px] shadow-md">
  
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-bold text-fonce">{{ title }}</h2>
    
    </div>
  
   
    <div class="p-4 m-10 bg-clair rounded-[40px] shadow-md">
      <div class="overflow-hidden rounded-[40px] border border-fonce m-4">
        <table class="w-full border-collapse">
          <thead>
            <tr>
              <th class="px-5 py-1 text-fonce border-b border-fonce">Test</th>
              <th class="px-5 py-1 text-fonce border-b border-fonce">Résultat</th>
              <th class="px-5 py-1 text-fonce border-b border-fonce">Unité</th>
              <th class="px-5 py-1 text-fonce border-b border-fonce">Valeur de référence</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let result of bioResults">
              <td class="pl-20 py-1 text-fonce border-b border-fonce">{{ result.test }}</td>
              <td class="px-20 py-1 text-fonce border-b border-fonce">{{ result.value }}</td>
              <td class="px-20 py-1 text-fonce border-b border-fonce">{{ result.unit }}</td>
              <td class="px-20 py-1 text-fonce border-b border-fonce">{{ result.reference }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
     <!-- Bouton pour afficher le graphique -->
  <div class="flex justify-center mt-4">
    <button
      type="button"
      (click)="generateGraph()"
      class="bg-fonce text-white px-6 py-3 rounded-[40px] font-semibold focus:ring focus:ring-fonce"
    >
      Afficher le graphe
    </button>
  </div>

  <!-- Graphique -->
  <div *ngIf="chartRendered" class="flex justify-center items-center mt-8">
    <div class="bg-clair rounded-[40px] p-6 text-center text-fonce shadow-inner">
      <canvas #myBarChart width="800" height="400" class="bg-clair rounded-[40px] p-6 text-center text-fonce shadow-inner"></canvas>
    </div>
  </div>
 