.resultats-container {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 300px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    font-family: 'Jaldi', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #5DA5B9;
    position: absolute;
    top: 167px;  
    left: 254px;
  }
  
  .form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .texte-section textarea {
    position: absolute;
    top: 385px;
    left: 50px;
    width: 568px;
    height: 385px;
    border-radius: 40px;
    padding: 10px;
    font-size: 16px;
    background-color: #D3E7E8;
    border-color: #b8c9ca;
  }

  .texte-section label {
    position: absolute;
    top: 317px;
    left: 50px;
    font-family: 'Jaldi', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #5DA5B9;
  }
  .texte-section ::placeholder{
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
    color: #a0a0a0;


  }
  
  .image-section {
    position: absolute;
    top: 889px;
    right: 542px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

  }
  
  
  .image-example {
    position: absolute;
    top: 385px;
    right: 50px;
    width: 550px;
    height: 407px;
    }
  .image-exampleb {
    position: absolute;
    top: 80px;
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
  .error-message{
    position: absolute;
    top: 1350px;
    left: 900px;
    color: hsl(6, 78%, 57%); 
    font-size: 20px;


  }
  .text-danger {
    
    color: hsl(6, 78%, 57%); 
    font-size: 200px;
    margin-top: 4px;
    display: block;
  }
  
  .upload-section {
    position: absolute;
    left:-330px ;
    width: 384px;
    height: 312px;
    border: 2px dashed #000000;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Jaldi', sans-serif;
    color: #5DA5B9;
    background-color: #D3E7E8;
    cursor: pointer;
  }
  
  .upload-section.dragover {
    border-color: #007bff;
    background-color: #e0f7ff;
  }
  
  .button-container {
    margin-top: 30px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .btn.retour {
    position: absolute;
    top: 1238px;
    left: 152px;
    background-color: #5DA5B9;
    width: 198px;
    height: 62px;
    color: #fff;
    font-family: 'Jaldi', sans-serif;
    border-radius: 20px;
    font-weight: bold;




  }
  
  .btn.envoyer {
    position: absolute;
    top: 1238px;
    left: 980px;
    width: 198px;
    height: 62px;
    border-radius: 20px;
    font-weight: bold;
    
    background-color: #5DA5B9;
    color: #fff;
    font-family: 'Jaldi', sans-serif;

  }
  body{
    background: linear-gradient(#D3E7E8, #ffff); 
    height: 300vh;
    margin: 0;
  }
  