<section class="mt-6 bg-white p-6 rounded-[40px] shadow-md">
    <h2 class="text-lg font-bold text-fonce">Résumé de la consultation</h2>
    <div *ngIf="consultationDetails" class="resume-container">
        <textarea
        [(ngModel)]="consultationDetails.resume"
        class="w-full h-32 p-4  bg-clair text-fonce rounded-[40px] mt-4"
        placeholder="Modifier le résumé de la consultation"
      ></textarea>
      </div>
      <div class="flex justify-end items-center"> 
      <button 
    (click)="saveResume()" 
    class="mt-4  bg-clair text-fonce px-6 py-3 rounded-[40px] font-semibold"
  >
    Enregistrer
  </button>
</div>
</section>
  
