.bilan-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f7f9fb;
  }
  
  h1{
    position: absolute;
    top: 218px;
    font-family: 'Jaldi', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #5DA5B9;
  }
  
  
  
  .btn {
    background-color: #5DA5B9;
    font-size: 16px;
    font-family: 'Jaldi', sans-serif;
    border-radius: 20px;
    font-weight: bold;    
    border: none;
    cursor: pointer;
    color: white;
    width: 198px;
    height: 59px;
  }
  
 
  
  .table-container {
    position: absolute;
    top: 328px;
    margin: 20px 0;
  }
  
  .table {
    font-family: 'Jaldi', sans-serif;
    width: 100%;
    border-spacing: 0;

    
  }
  
  .table th,
  .table td {
    background-color: #D3E7E8;

    border: 1px solid #5DA5B9;
    padding: 25px;
        text-align: left;
  }
  
  .table th {
    color: #5DA5B9;
    font-weight: bold;
  }
  
  .table input {
    background-color: #D3E7E8;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  
  
  
  .graph-image {
    position: absolute;
    top: 270px;
    left: 930px;
    width: 370px;
    height: 390px;
    
  }
  
  .graph-container {
    position: absolute;
    top: 808px;
    left: 140px;

    width: 735px;
    height: 415px;
    border-radius: 40px;
    flex-grow: 1;
    margin-left: 20px;
    padding: 20px;
    border: 1px dashed #ccc;
    text-align: center;
    background-color: #D3E7E8;


  }
  
  .graph-placeholder {
    color: #6c757d;
  }
  
  
  th:first-child {
    border-top-left-radius:40px;
  }
  th:last-child {
    border-top-right-radius: 40px;
  }
  tr:last-child td:last-child{
    border-bottom-right-radius: 40px;
  }
  tr:last-child td:first-child{
    border-bottom-left-radius: 40px;
  }
  #buttona {
    position: absolute;
    top: 248px;
    left: 667px;

  }

  #buttonb {
    position: absolute;
    top: 900px;
    left: 1000px;

  }

  #buttonc {
    position: absolute;
    top: 1150px;
    left: 1000px;

  }
  body{
    background: linear-gradient(#D3E7E8, #ffff); 
    height: 300vh;
    margin: 0;
  }
  