<body>
<div class="bilan-container">
      <h1 class="title">Le Bilan Biologique</h1>
      <button id="buttona" class="btn btn-secondary">Générer Graphique</button>
  
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Analyse</th>
            <th>Résultats</th>
            <th>Unité</th>
            <th>Valeur de Référence</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let analyse of analyses">
            <td>{{ analyse.nom }}</td>
            <td>
              <input
                type="text"
                [(ngModel)]="analyse.resultat"
                placeholder="Résultat"
              />
            </td>
            <td>
              <input
                type="text"
                [(ngModel)]="analyse.unite"
                placeholder="Unité"
              />
            </td>
            <td>
              <input
                type="text"
                [(ngModel)]="analyse.valRef"
                placeholder="Valeur de Référence"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
      <img src="assets/Rectangle 85.png" alt="Graphique Exemple" class="graph-image" />
      <div class="graph-container">
        <p class="graph-placeholder">Graphique généré apparaîtra ici</p>
      </div>
  
    <!-- Boutons -->
    <div class="button-group">
      <button id="buttonb" class="btn btn-primary" (click)="onSubmit()">Envoyer</button>
      <button id="buttonc" class="btn btn-secondary" (click)="onRetour()">Retour</button>
    </div>
  </div>

</body>
  