.page-soins-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  #soins{
    height: 180px;
    width: 1108px;
    border-radius: 40px;
    background-color: #D3E7E8;
    border: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Jaldi', sans-serif;
    text-indent: 30px;
    




  }
  textarea::placeholder {
    font-size: 23px; 
    color: gray; 
    font-style: 'Jaldi', sans-serif; 
    padding-left: 10px; 
    padding-top: 20px; 
  }

  input::placeholder {
    font-size: 23px; 
    color: gray; 
    font-style: 'Jaldi', sans-serif; 
    padding-left: 10px; 
    padding-top: 20px; 
  }

  



  .text-danger {
    position: absolute;
    top: 1700px;  
    left: 1120px;
    color: hsl(6, 78%, 57%); 
    font-size: 20px;
    
    display: block;
  }
  
  .form-group {
    font-family: 'Jaldi', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #5DA5B9;
    position: relative;
    top: 730px;  
    left: 10px; 
    margin-bottom: 40px;
    
  }
  
  img {
    width: 100%;
    max-width: 300px;
    margin: 15px ;
  }

  input{
 
  width: 651px ;
  height: 67px ;
  border-radius: 40px;
  background-color: #D3E7E8;
  border: none;

  }
  body {
    background: linear-gradient(#D3E7E8, #ffff); 
    height: 300vh;
    margin: 0;
  }
  
  
  .text-section {
    font-family: 'Jaldi', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #5DA5B9;
    position: absolute;
    top: 167px;  
    left: 398px;
   
  }
  .text-sectionb {
    font-family: 'Jaldi', sans-serif;
    font-size: 32px;
    color: #5DA5B9;
    position: absolute;
    top: 400px;  
    left: 264px;
  }
  .btn-primary{
    position: absolute;
    top: 1600px;  
    left: 1100px;
    height: 62px;
    width: 198px;
    border-radius: 40px;
    border: none;
    background-color: #5DA5B9;
    font-family: 'Jaldi', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffff;

  }
.soinclass{
  font-family: 'Jaldi', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #5DA5B9;
  position: absolute;
  top: 1180px;
  left: 150px;

}


  #nss{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Jaldi', sans-serif;
    text-indent: 30px;
    
  }
 #heure{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Jaldi', sans-serif;
 }
 #date{
  font-size: 20px;
  font-weight: 500;
  font-family: 'Jaldi', sans-serif;
 }
 img{
  position: absolute;
  top: 800px;  
  left: 855px;
  width: 500px !important;
  height: auto;

 }